body{
    background-color: rgba(255, 189, 190, 0.5);
}
#container{
    background-color: #111931;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 5px 20px 5px rgba(0,0,0, 0.7);
    border-radius: 15px;
    width: 370px;
    padding: 10px;
    height: 58%
}
#header{
    margin-left: 20px;
}
.id_box{
    height: 51px;
}
input{
    margin: 5px;
    border-radius: 7px;
    border: none;
}

.search_id{
    padding-bottom: 4px;
    height: 51px;
    background-color: #ffbdbd;
    font-family: 'HYpost';
    font-size: 14px;

}
.input_box{
    width: 95%;
    height: 51px;
}
.input_box_id{
    width: 265px;
    height: 51px;
}
p{
    color: rgba(255, 100, 100, 0.7);
}
span{
    color: rgba(255, 255, 255, 0.8);
}

.sign_end{
    width: 95%;
    height: 52px;
    background-color: #ffbdbd;
    font-family: 'HYpost';
    font-size: 25px;
}

#password_1{
    width: 95%;
    height: 51px;
}
#password_2{
    width: 95%;
    height: 51px;
}

#alert-success{
    padding-left: 15px;
    line-height: 30px;
}

#alert-danger{
    padding-left: 15px;
    line-height: 30px;
}
