body{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 60%;
    top: 60%;
    transform: translate(-60%,-60%);
    border-top:  solid #9fa19f;
    border-bottom:  solid #9fa19f;
    border-left: solid #9fa19f;
    border-right: solid  #9fa19f;
    

   
}
#header{
    text-align: center;
    line-height: 1;
    background-color: #111931;
}

.singup-from{
    text-align: center;
    width: 230px;
    margin: 35px auto;
    position: relative;
    border-radius: 30px;

    
}

#gender{
    margin: 20px;
    position: absolute;
    top: 460px;
    right: 0px;
   
}

div li{
    list-style: none;
    margin: 15px;
    
}

.singup-btn{
    padding: 20px 200px;
    font-size: 15px;
    cursor: pointer;
    display: block;
    text-align: right;
}

#content li input{
    height: 45px;
    width: 200px;
}

select {
    height: 45px;
    direction: rtl;
    position: absolute;
    top: 262px;
    right: -115px;
    font-size: 15px;
    line-height: 18px;
    color: #8e8e8e;
}

input#ymd.int{
    width: 200px;
    height: 45px;

}

h5{
    color: red;
    margin-top: 5px;
}