.project-create{
    width: 80%;
    height: 600px;
    border: 1px solid #000;
    background-color:  pink;
    ;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);   
}

h3{
    margin-top: 10px;
    text-align: center;
}
.header{
    position: relative;
    width: 50%;
    height: 400px;
    float: right;
    box-sizing: border-box;
    background:#fff
}


#image_container{
    position: relative;
    width: 50%;
    height: 400px;
    float: right;
    box-sizing: border-box;
    background:#fff
   
}
#image{
    float: right;
}

#image_container > img{
    width: 100%;
    height: 100%;

}

#ju{
    float: right;
    padding: 3px;
}

body{
    background-color: #111931;
}
